nav {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

#home {
    overflow: hidden;
    text-align: center;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
}

#home div {
    /*border: 1px solid red;*/
    margin: 3rem auto 3rem auto;
}

#home a {
    display: inline-block;
    border: 1px solid lightyellow;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    background-color: darksalmon;
    color: lightyellow;
}

#product {
    width: 800px;
    display: flex;
    justify-content: space-around;
}

#product div {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#col-1 img {
    width: 296px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 0;
}

#col-2 img {
    width: 296px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 0;
}

#contact-col1 {
    width: 100%;
    max-width: 100%;
}

#contact-col2 {
    width: 100%;
    max-width: 100%;
}

#contact {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    max-width: 100%;
    width: 100%;
}

#email {
    width: 227.906px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid red;
    border-radius: 0.25rem
}

h5 {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    color: crimson;
}


form button {
    width: 227.906px;
    display: inline-block;
    border: 1px solid red;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    cursor: pointer;
    color: red;
    background-color: darkseagreen;
}

div + div{
   margin-bottom: 16px;
}
